<% provide(:title, 'Contact Us') %>
    <h1>Contact Us</h1>
    <p>

      To us see the about page of this sample app
      <a href="http://secure-everglades-1977.herokuapp.com/static_pages/about">Sample App about page</a>.
      To get help on this sample app, see the
      <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
    </p>